section{
	background:url('background-1.jpg');
	background-size: cover;
	padding:270px;
	/*background-repeat: no-repeat;*/
}




img{

	width: 70px;
}

h1{

	color: white;
    position: absolute;
    top:40%;
    width: 100%;
    font-size: 300%;
    text-align: center;


}

nav{
	text-align: right;
	

}
menu{

	color:white;
}


style{
	width: 100px;
}


